.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  text-align: center;
  margin-bottom: 26px;
  margin-top: 13px;
}

.container {
  text-align: center;
}

.container-left {
  text-align: center;
  padding: 40px;
}

form {
  text-align: center;
}

#submitBtn {
  margin-top: 20px;
}

.inputContainer {
  text-align: center;
  margin-top: 25px;
}

.stats-box {
  width: 45%;
  background-color: #282828;
  display: inline-block;
  text-align: left;
  border-radius: 6px;
  border-left: 4px solid #4caf50;
  border-right: 4px solid #4caf50;
  border-top: 4px solid #666363e3;
  border-bottom: 4px solid #666363e3;
  margin: 10px;
}

#stats-box2 {
  border-left: 4px solid #d63012;
  border-right: 4px solid #d63012;
  display: inline-block;
}

.match-list {
  padding: 10;
}

.title {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #ededed;
}

:hover .title {
  color: #ededed;
  text-decoration: none;
}
.subtitle {
  font-size: 19px;
  color: #ededed;
  opacity: 0.54;
  text-overflow: ellipsis;
}
