.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  text-align: center;
  margin-bottom: 26px;
  margin-top: 13px;
}

.container-fluid {
  max-width: 75%;
}
form {
  text-align: center;
}

#submitBtn {
  margin-top: 20px;
}

.inputContainer {
  text-align: center;
  margin-top: 25px;
}

.stats-box {
  background-color: #282828;

  border-radius: 6px;
  border-left: 4px solid #4caf50;
  border-right: 4px solid #4caf50;
  border-top: 4px solid #666363e3;
  border-bottom: 4px solid #666363e3;
  margin: 10px;
}

.match-list {
  padding: 10;
}

.details {
  display: inline-block;
}

.title {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #ededed;
  max-width: 300px;
}

:hover .title {
  color: #ededed;
  text-decoration: none;
}
.subtitle {
  font-size: 19px;
  color: #ededed;
  opacity: 0.54;
  text-overflow: ellipsis;
}

.stats {
  color: #ededed;
}

.row {
  color: #ededed;
  margin-bottom: 9px;
}

.sb-con {
  max-width: 35%;
}

.marginMLRow {
  margin-bottom: 11px;
  margin-left: auto;
}

.marginNameStatsRow {
  margin-bottom: 3px;
}
@media only screen and (max-width: 830px) {
  .sb-con {
    max-width: 260px;
  }
}
